* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #464646;
}

.header {
  font-size: 15px;
  margin: 20px;
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90rem;
  margin: auto;
}

.mobile-header {
  display: none;
}

.mobile-header .mobile-nav {
  display: none;
  position: fixed;
  background-color: #000000a6;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.mobile-header .mobile-nav.active {
  display: block;
}

.header__list {
  list-style-type: none;
  float: right;
}

.header__list li {
  display: inline-block;
  margin-left: 10px;
  padding: 12px 20px;
  border-radius: 5px;
}

.header__list li a {
  text-decoration: none;
  text-transform: uppercase;
}

.header__list li a:link, .header__list li a:visited {
  color: #9194a1;
}

.header__list li a:hover, .header__list li a:active {
  color: #fa5757;
}

.btn {
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  padding: 10px 25px;
  border-radius: 5px;
}

.btn-blue:link,
.btn-blue:visited {
  background-color: #5368df;
  border: 2px solid #5368df;
  color: #fff;
}

.btn-blue:hover,
.btn-blue:active {
  background-color: #fff;
  border: 2px solid #5368df;
  color: #5368df;
}

.btn-red:link,
.btn-red:visited {
  text-transform: uppercase;
  background-color: #fa5757;
  border: 2px solid #fa5757;
  color: #fff;
}

.btn-red:hover,
.btn-red:active {
  background-color: #fff;
  border: 2px solid #fa5757;
  color: #fa5757;
}

.container {
  max-width: 90rem;
  margin: 0 20px;
  padding: 50px 0;
}

.container .section-first {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .section-first__article-1 h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.container .section-first__article-1 p {
  font-size: 20px;
  line-height: 1.7;
  padding-bottom: 15px;
}

.container .section-first__article-1 .btn-grey:link,
.container .section-first__article-1 .btn-grey:visited {
  background-color: #e4e4e4;
  border: 2px solid #e4e4e4;
  color: #464646;
}

.container .section-first__article-1 .btn-grey:hover,
.container .section-first__article-1 .btn-grey:active {
  background-color: #fff;
  border: 2px solid #464646;
  color: #464646;
}

.container .section-first__article-2 {
  position: relative;
}

.container .section-first__article-2 svg {
  z-index: 1;
  position: relative;
}

.container .section-first__article-2-block {
  position: absolute;
  height: 300px;
  max-width: 400px;
  background-color: #5368df;
  border-bottom-left-radius: 50px;
  bottom: 0;
  right: 0;
}

.container .section-features .section-features__holder .section-features__holder-title {
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
}

.container .section-features .section-features__holder .section-features__holder-title h1 {
  margin-bottom: 10px;
}

.container .section-features .section-features__holder .section-features__holder-title p {
  font-size: 20px;
  line-height: 1.7;
}

.container .section-features .section-features__holder .section-features__holder-tab {
  margin-bottom: 30px;
}

.container .section-features .section-features__holder .section-features__holder-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .section-features .section-features__holder .section-features__holder-tab ul li {
  padding: 10px 30px;
  padding-bottom: 15px;
  border-bottom: 5px solid #ddd;
  cursor: pointer;
}

.container .section-features .section-features__holder .section-features__holder-tab ul li:hover {
  border-bottom: 5px solid #fa5757;
}

.container .section-features .section-features__holder .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .section-features .section-features__holder .tab .tab__article h1 {
  margin-bottom: 15px;
}

.container .section-features .section-features__holder .tab .tab__article p {
  font-size: 20px;
  line-height: 1.7;
  padding-bottom: 15px;
}

.container .section-features .section-features__holder .tab svg {
  z-index: 9999;
  position: relative;
}

.container .section-features .section-features__holder .tab .element-left {
  position: absolute;
  height: 300px;
  width: 400px;
  background-color: #5368df;
  border-bottom-right-radius: 50px;
  top: 100px;
  left: -100px;
}

.container .section-features .section-features__holder .tab .tab__image {
  position: relative;
}

.container .section-features .section-features__holder .tab .tab__image svg {
  background-color: #fff;
}

.container .section-extensions .section-extensions__holder .section-extensions__holder-title {
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
}

.container .section-extensions .section-extensions__holder .section-extensions__holder-title h1 {
  margin-bottom: 10px;
}

.container .section-extensions .section-extensions__holder .section-extensions__holder-title p {
  font-size: 20px;
  line-height: 1.7;
}

.container .section-extensions .section-extensions__holder .section-extensions__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .section-extensions .section-extensions__holder .section-extensions__cards .section-extensions__cards-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 10px;
  padding-bottom: 20px;
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 20px;
          box-shadow: 1px 1px 20px;
}

.container .section-extensions .section-extensions__holder .section-extensions__cards .section-extensions__cards-card h3 {
  margin-bottom: 10px;
}

.container .section-extensions .section-extensions__holder .section-extensions__cards .section-extensions__cards-card p {
  margin-bottom: 20px;
}

.container .section-extensions .section-extensions__holder .section-extensions__cards .section-extensions__cards-card .svg-dots {
  margin-bottom: 20px;
}

.container .section-extensions .section-extensions__holder .section-extensions__cards .section-extensions__cards-card .section-extensions__cards-card-img {
  margin: 30px 0;
}

.container .section-faq .section-faq__holder .section-faq__holder-title {
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
}

.container .section-faq .section-faq__holder .section-faq__holder-title h1 {
  margin-bottom: 10px;
}

.container .section-faq .section-faq__holder .section-faq__holder-title p {
  font-size: 20px;
  line-height: 1.7;
}

.container .section-faq .section-faq__holder .section-faq__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .section-faq .section-faq__holder .section-faq__accordion .section-faq__accordion-question {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding-left: 0;
  width: 40%;
  border-bottom: 1px solid #aaaaaa;
  text-align: left;
  outline: none;
}

.container .section-faq .section-faq__holder .section-faq__accordion .section-faq__accordion-question h3 {
  padding: 18px;
  padding-left: 0;
}

.container .section-faq .section-faq__holder .section-faq__accordion .section-faq__accordion-question .section-faq__accordion-answer {
  padding: 18px;
  padding-left: 0;
  background-color: #fff;
  display: none;
  padding-top: 0;
}

.container .section-faq .section-faq__holder .section-faq__accordion .section-faq__accordion-question .section-faq__accordion-answer p {
  line-height: 1.7;
}

.container .section-faq .section-faq__holder .section-faq__accordion .section-faq__accordion-question.active .section-faq__accordion-answer {
  display: block;
}

.container .section-faq .section-faq__holder .section-faq__accordion .section-faq__accordion-question:first-child {
  border-top: 1px solid #aaaaaa;
}

.container .section-faq .section-faq__holder .section-faq__accordion .btn {
  margin-top: 30px;
}

.footer .footer__contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5368df;
  color: #fff;
  padding: 40px 0;
}

.footer .footer__contact-us h1, .footer .footer__contact-us h3 {
  padding-bottom: 20px;
}

.footer .footer__contact-us .footer__form input {
  padding: 12px 25px;
  border-radius: 5px;
  width: 250px;
}

.footer .footer__contact-us .footer__form a {
  text-transform: capitalize;
}

.footer .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: #242A45;
  padding: 10px 0;
}

.footer .footer__nav .footer__nav-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__nav .footer__list-1 li {
  display: inline-block;
  margin-left: 10px;
  padding: 12px 20px;
  border-radius: 5px;
}

.footer .footer__nav .footer__list-1 li a {
  color: #fff;
}

.footer .footer__nav .footer__list-1 li a:hover,
.footer .footer__nav .footer__list-1 li a:active {
  color: #fa5757;
}

.footer .footer__nav .footer__list-2 li {
  display: inline-block;
  margin-left: 10px;
  padding: 12px 20px;
}

@media only screen and (max-width: 768px) {
  .mobile-header {
    display: block;
  }
  .header {
    display: none;
  }
  .container {
    width: 100%;
    padding: 10px;
  }
  .container .section-first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .section-features .section-features__holder .section-features__holder-tab ul {
    display: block;
  }
  .container .section-features .section-features__holder .tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .section-features .section-features__holder .tab .tab__article {
    margin-top: 10px;
  }
  .container .section-extensions .section-extensions__holder .section-extensions__cards {
    display: block;
    max-width: 380px;
    margin: auto;
  }
  .container .section-faq .section-faq__holder .section-faq__holder .section-faq__accordion .section-faq__accordion-question {
    width: 80%;
  }
  .footer .footer__contact-us .footer__form input {
    display: block;
  }
  .footer .footer__contact-us .footer__form .btn {
    margin-top: 10px;
    display: block;
  }
  .footer .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__nav .footer__nav-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__nav .footer__nav-1 .footer__list-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    margin: auto;
  }
}
/*# sourceMappingURL=main.css.map */